*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.row1{
    margin: auto;
}
.menu{
    h2{
        color: white;
    }
    ul{
     li{
         a{
             color: white;
         }
     }
    }
}
